<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<h:form id="formAdditions" style="font-size:14px;">
	<br />
	<p:separator style="width:80%;align:center;" />
	<h1 align="center">Addition</h1>
	<p:separator style="width:80%;align:center;" />
	<br />

	<h:panelGrid columns="3" cellpadding="5"
		style="position: relative; right: 0;">

		<p:inputText id="nombre1" value="#{additionMB.nombre1}"></p:inputText>
		<p:inputText id="nombre2" value="#{additionMB.nombre2}"></p:inputText>

		<p:commandButton value="Addition" action="#{additionMB.add}" update=":formAdditions">
		</p:commandButton>

	</h:panelGrid>

	<p:panel id="panelAdditions" header="Historiques des additions"
		style="margin-bottom:10px; text-align:center;">
		<p:dataTable id="tableAdditions" var="addition" rowKey="#{addition}"
			value="#{additionMB.listeAdditions}" selection="#{addition}"
			selectionMode="single" reflow="true" paginator="true"
			paginatorPosition="bottom" rows="10" multiViewState="true"
			rowsPerPageTemplate="5,10,15" draggableColumns="true">

			<p:column>
				<f:facet name="header">Addition(s)</f:facet>
				<h:outputText value="#{addition}" />
			</p:column>

			<f:facet name="footer">Au total il y a #{fn:length(additionMB.listeAdditions)} résultats.</f:facet>

		</p:dataTable>
	</p:panel>

</h:form>
</html>